
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<style>
 .card-header,.card-footer{
background-color:#6B8E23;
color: white;
}
.btn{
  border-color:#98BF64;
  text-align:center;
  font-size:18px;
  background-color:#98BF64;
   float:right; 
    margin-right: 80px; 
   }

a:link{
text-decoration:none;

}

a{
color:black;
}
span {
  content: "\00A9";
}
.box{
  height: 30px;
  width: 55px;
  border:1px solid yellow; 
  background-color:yellow;
  color: black;
  font-size: 15px;
}
.hsize{
  font-size: 50px;
  font-weight: normal;
  
}
 
 
</style>


<div class="container">
  <div class="card shadow">
     <div class="card-header"><div class="hsize">Course Registration Online System <span class="box">(CRO)</span></div></div>
<br>
    <div class="container small">
     <h6>John Done</h6>
     <h6 class="float-right">83 of 120 credit</h6>
     <h6>NVE-4472</h6>
     <h6 class="float-right">Undergraduate</h6>
     <h6>+21043567934</h6>
     <h6>johndone@dksu.edu</h6>
      <h2 class="float-right"><b>Register Informations</b></h2>
    </div>

  <div class="container">
    <h6>Registeration ID :<b>34233544</b></h6>
    <h6>Course :<b>SK103-Literature in Sanskrit Language</b></h6>
    <h6>Semester :<b>Winter 2022</b></h6>
  </div>

    <div class="form-group">
      <a routerLink="/register" routerLinkActive="active" class="btn">Dashboard</a>
    </div>
   <div class="card-footer text-center"><span>&#169;</span>Dekastan State University (Civitas Universitas Dekastan)</div>  
   </div>
   </div>
  
 
<script>

</script>
    




 
