
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="jumbotron">
  <div class="card shadow">
     <div class="card-header">
      <div class="hsize">Course Rgistration Online System
      <span class="box">(CRO)</span>
    </div>
     </div>
     <div class="card-body">
       <div class="row">
<div class="col-sm-3">
   <div class="card shadow">
       <div class="card-header text-center"><h4>login</h4></div>
     <div class="card-body">
<form>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" placeholder="Password">
  </div>
<div class="form-group text-center">
    <a routerLink="/dashboard" routerLinkActive="active" class="btn btn-primary">Login</a>
</div>
  </form>
</div>
</div>
</div>
<div class="col-sm-9">
<div class="card shadow">
<div class="card-header text-center"><h4>Student Account Registrator</h4></div>
   <div class="card-body row">
      <div class="col-sm-6">
<form>
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="phone">Mobile Phone</label>
    <input type="tel" class="form-control" placeholder="Phone">
  </div>
  </form>
      </div>
      <div class="col-sm-6">
<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" placeholder="Student Id">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" placeholder="Password">
  </div>
<div class="form-group">
    <label for="con_password">Confirm Password</label>
    <input type="password" class="form-control" placeholder="Confirm Password">
  </div>
  </form>
      </div>
   </div>
<div class="form-group text-center">
  <a routerLink="/register" routerLinkActive="active" class="btn btn-primary">Register</a>
</div>
</div>
</div>
       </div>
</div>
</div>
<div class="card-footer text-center">
  <span>&#169;</span>Dekastan State University (Civitas Universitas Dekastan)
</div>
</div>
