.card-header,.card-footer{
   background-color:#6B8E23;
   font-weight: 500;
   font-size: medium;
   }
   
   .btn{
	 border-color:#98BF64;
	 text-align:center;
	 font-size:18px;
	 background-color:#98BF64;
	}
   
   a:link{
   text-decoration:none;
   }
   
   
   a{
   color:black;
   }
   
   span {
	 content: "\00A9";
   }
   .box{
	   height: 30px;
	   width: 55px;
	   border:1px solid yellow; 
	   background-color:yellow;
	   color: black;
	   font-size: 15px;
   }
   .hsize{
	   font-size: 50px;
	   font-weight: normal;
	   color:white;
   }
   .card-footer{
	   color: white;
   }
   .log{
	   background-color: white;
   }