<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
 .card-header,.card-footer{
background-color:#6B8E23;
color: white;
}

span {
  content: "\00A9";
}
.box{
  height: 30px;
  width: 55px;
  border:1px solid yellow; 
  background-color:yellow;
  color: black;
  font-size: 15px;
}
.hsize{
  font-size: 50px;
  font-weight: normal;
  
}
thead{
  background-color:#6B8E23;
}
</style>
</head>
<div class="dash">
  <div class="card shadow">
     <div class="card-header"><div class="hsize">Course Registration Online System <span class="box">(CRO)</span></div></div>
<br>
<div class="container small">
<h6>John Done</h6>
<h6 class="float-right">83 of 120 credit</h6>
<h6>NVE-4472</h6>
<h6 class="float-right">Undergraduate</h6>
<h6>+21043567934</h6>
<h6>johndone@dksu.edu</h6>
<h2 class="float-right"><b>Register Informations</b></h2>
</div>

     <div class="card-body">
       <div class="row">
        <div class="col-sm-12">
           <div class="card shadow">
  <table id="example" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Course</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>334643</td>
                <td>System Analysis and Design</td>
                
            </tr>
            <tr>
                <td>865953</td>
                <td>Java</td>
                
            </tr>
            <tr>
                <td>4564155</td>
                <td>Networking</td>
                
            </tr>
        </tbody>
</table>
                 <div class="card-body">

                 </div>
</div>
</div>
</div>
<div class="card-footer text-center"><span>&#169;</span>Dekastan State University (Civitas Universitas Dekastan)</div>
</div>  
<script>

</script>
    


</div>





