
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<style>
 .card-header,.card-footer{
background-color:#6B8E23;
color: white;
}
.btn{
  border-color:#98BF64;
  text-align:center;
  font-size:18px;
  background-color:#98BF64;
      
   }

a:link{
text-decoration:none;

}

a{
color:black;
}
span {
  content: "\00A9";
}

.box{
  height: 30px;
  width: 55px;
  border:1px solid yellow; 
  background-color:yellow;
  color: black;
  font-size: 15px;
}
.hsize{
  font-size: 50px;
  font-weight: normal;
  
}

</style>
<body>

<div class="regist">
  <div class="card shadow">
      <div class="card-header"><div class="hsize">Course Registration Online System <span class="box">(CRO)</span></div></div>
     <br>
  <div class="container small">
    <h6>John Done</h6>
    <h6 class="float-right">83 of 120 credit</h6>
    <h6>NVE-4472</h6>
    <h6 class="float-right">Undergraduate</h6>
    <h6>+21043567934</h6>
    <h6>johndone@dksu.edu</h6>

</div>
     <div class="card-body">
       <div class="row">
        <div class="col-sm-12">
           <div class="card shadow">
              <div class="card-header"><h4>Registration</h4></div>
                 <div class="card-body">

                    <div class="form-group">
                           <label for="name">Department</label>
  
  <select class="custom-select">
    
    <option value="1">Software</option>
    <option value="2">Hardware</option>
  </select>

                    </div>
<div class="form-group">
                           <label for="name">Course</label>
  
  <select class="custom-select">
    
    <option value="1">System Analysis and Design</option>
    <option value="2">Java</option>
    <option value="3">Networking</option>
    <option value="4">Distributed System</option>
  </select>

                </div>
<div class="row">
                    <div class="col-sm-6">
<div class="form-group">
                           <label for="name">Semester</label>
               <div class="row">            
<div class="col-sm-6">
<input class="text-center" type="radio" name="semester">Winter
</div>
<div class="col-sm-6">
<input class="text-center" type="radio" name="semester">Summer
</div>
</div>
</div>

                     </div>
<div class="col-sm-6">
 <div class="form-group">
                           <label for="name">Year</label>
  
  <select class="custom-select">
    
    <option value="1">2020</option>
    <option value="2">2021</option>
    <option value="3">2022</option>
    
  </select>

                    </div>
</div>
</div>
<div class="form-group float-right">
  <a routerLink="/information" routerLinkActive="active" class="btn btn-primary">Submit Registration</a>
</div>
                 </div>
            </div>
        </div>

      </div>

</div>
</div>
<div class="card-footer text-center"><span>&#169;</span>Dekastan State University (Civitas Universitas Dekastan)</div>
</div>  
    




 

